# Ativa modo de depuração (somente desenvolvimento)
DEBUG=True

# Chave secreta do Django para segurança
SECRET_KEY=

# Configuração do banco de dados
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
